header {
    background-color: rgba(44, 107, 179, 0.5);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    /* 
    position: fixed; 
    top: 0; 
    width: 100%; 
 */
}

p {
    margin: 0;
    padding: 0;
}
.account {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(70, 70, 100);
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-top: 0.25rem;
}
.imgHeader {
    width: 2rem;
    margin: auto;
    height: 2rem;
}
.center {
    margin: auto;
}
.containerHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
