#newSnipe {
    border-radius: 20px;
    background-color: rgba(196, 248, 255, 0.6);
    text-align: center;
    color: #000000;
    min-height: 10%;
    background-color: rgb(142, 197, 252, 0.5);
    cursor: pointer;
    border: none;
    transition: background-color 3s ease;
    transition: box-shadow 3s ease;
    font-weight: bold;
}
#newSnipe:hover {
    background-color: rgb(65, 62, 62, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    color: rgb(255, 255, 255);
}

#container-snipers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inputfile {
    display: none;
}

#paramSnipe {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding: 2rem;
    min-height: 15%;
    background-color: rgb(142, 197, 252, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    z-index: 5;
}
#paramSnipe h4 {
    /* all: unset; */
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}

.contain-param {
    background-color: rgb(252, 255, 83);
    margin: 0.5rem;
    color: black;
}
.addTransaction {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(196, 248, 255, 0.6);
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    background-color: rgb(142, 197, 252, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    z-index: 5;
    top: 40%;
}

.addTransaction h4 {
    /* all: unset; */
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}
.listTransactions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    background-color: rgb(185, 255, 255);
}
.itemsTransactions {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(196, 248, 255, 0.6);
    text-align: center;
    color: #000000;
    background-color: rgba(197, 226, 255, 0.5);
    /* box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9); */
}
.button {
    border-radius: 0.5rem;
    font-weight: bold;
    margin: 0.25rem;
}
.button:hover {
    background-color: rgb(65, 62, 62, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    color: rgb(255, 255, 255);
}

.divButtonsTransaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divButtonsTransaction button {
    min-width: 5rem;
}

.labelChekbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}

#model {
    position: fixed;
    left: 50%;
    margin-top: 15%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(142, 197, 252, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    padding: 1rem;
}
#button-copy {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin: 0.25rem;
    background-color: rgb(65, 62, 62, 0.5);
    color: rgb(255, 255, 255);
}
#button-copy:hover {
    background-color: rgb(65, 62, 62, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    color: rgb(255, 255, 255);
}
.button-chooseAddTransaction {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin: 0.25rem;
    background-color: rgba(10, 10, 10, 0.5);
    color: rgb(255, 255, 255);
}

.editTransaction {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(196, 248, 255, 0.6);
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    background-color: rgb(142, 197, 252, 0.5);
    box-shadow: 0px 0px 30px 6px rgba(255, 255, 255, 0.9);
    z-index: 5;
    top: 40%;
}
.editTransaction h4 {
    /* all: unset; */
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}
.isToken {
    cursor: pointer;
}
